@font-face {
  font-family: YEKAN;
  src: url('/assets/fontYekan/yekan-font/yekan-regular.woff'), url('/assets/fontYekan/yekan-font/yekan-regular.eot') , url('/assets/fontYekan/yekan-font/yekan-regular.ttf');
}

*{
  font-family:YEKAN ;
}